extends layout
block babysitters
    h1.
        #{title}
    table.table.table-striped.table-hover
        thead
            tr
                th #
                th Name
                th Categories
                th Phone
                th Locality
                th Is Verified
        tbody
            each blob, i in blobs
                if blob.isVerified
                    tr.success
                        td= 40 * page + (i + 1)
                        td
                            a(href="/babysitters/" + blob._id + "/edit")= blob.name
                        td= blob.categories
                        td= blob.phone
                        td= blob.locality
                        td= blob.isVerified
                else
                    tr
                        td= 20 * page + (i + 1)
                        td
                            a(href="/babysitters/" + blob._id + "/edit")= blob.name
                        td= blob.categories
                        td= blob.phone
                        td= blob.locality
                        td= blob.isVerified
    if (pages > 1)
        ul.pagination
            != createPagination(pages, page)