//
   Created by ayaz on 13/9/15.
extends ../layout
block content
    h1.
        ID #{blob._id}
    p Name: #{blob.name}
    p Phone: #{blob.phone}
    p DOB: #{blob.dob}
    p Enrollment Date: #{blob.dateEnrolled}
    p Is Verified: #{blob.isVerified}
    p Categories: #{blob.categories}
    p Address: #{blob.address}
    p Locality: #{blob.locality}
